<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587346980012-31vct51qd4oarc315lr352154tegt2cr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587346980012-31vct51qd4oarc315lr352154tegt2cr</string>
	<key>API_KEY</key>
	<string>AIzaSyDjMTr9AaPHju2dK7IC9ys5IQptl7Sa6jY</string>
	<key>GCM_SENDER_ID</key>
	<string>587346980012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mergidracu.licenta</string>
	<key>PROJECT_ID</key>
	<string>timfix-204a8</string>
	<key>STORAGE_BUCKET</key>
	<string>timfix-204a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587346980012:ios:5fa1abc5768e6b9d02c309</string>
</dict>
</plist>